/*sourse of inspo: https://petargyurov.com/bookshelf/ */
.bookshelf {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  width: 90px;
  height: 300px;
  margin-left: 70px;
  position: relative;
  transform-style: preserve-3d;
  transform: translateZ(0) rotateY(0);
  transition: transform 1s;
}

.side {
  position: absolute;
  border: 2px solid black;
  border-radius: 3px;
  font-weight: bold;
  color: black;
  text-align: center;
  transform-origin: center left;
}

.spine {
  position: relative;
  width: 50px;
  height: 280px;
  background-color: #F6F6F6;
  transform: rotateY(0deg) translateZ(0px);
}

.spine-title {
  margin: 2px;
  position: absolute;
  top: 40px;
  left: 10px;
  font-size: 20px;
  color: #1a1919;
  writing-mode: vertical-rl;
  transform: rotateZ(180deg);
}

.spine-author {
  position: absolute;
  color: #1a1919;
  bottom: 0px;
  left: 20%;
}

.top {
  width: 50px;
  height: 190px;
  top: -2px;
  background-image: linear-gradient(90deg, whitesmoke 90%, gray 10%);
  background-size: 5px 5px;
  transform: rotateX(90deg) translateZ(95px) translateY(-95px);
}

.cover {
  width: 190px;
  height: 280px;
  top: 0px;
  background-size: contain;
  background-repeat: round;
  left: 50px;
  transform: rotateY(90deg) translateZ(0);
  transition: transform 1s;
}

#Celan .cover {
  background-image: url("images/PCCOver.jpg");
}

#Herbert .cover {
  background-image: url("images/HZCover.jpg");
}

#Siken .cover {
  background-image: url("images/SikenCover.jpeg");
}

#Bodler .cover {
  background-image: url("images/BodlerCover.jpg");
}

#Edgar .cover {
  background-image: url("images/EdgarCover.jpg");
}

#Bukowski .cover {
  background-image: url("images/BukowskiCover.jpg");
}

#Pushkin .cover {
  background-image: url("images/PushkinCover.jpg");
}

#kamialber .cover {
  background-image: url("images/strangercamus.webp");
}

#asimovisak .cover {
  background-image: url("images/asimovbook.jpg");
}

#zbigniewscover .cover {
  background-image: url("images/kingofants.png");
}

#kafkacover .cover {
  background-image: url("images/metamorfoza.jpg");
}

.book:hover {
  z-index: 1;
  transform: rotateX(-25deg) rotateY(-40deg) rotateZ(-15deg) translateY(50px) translateX(-30px);
}